<html>
    <head>
        <meta charset="UTF-8">
        <title>CRUD Clientes</title>
        <link rel="stylesheet" href="css/vendor.css">
        <link rel="stylesheet" href="css/app.css">
        
        <script src="js/vendor.js"></script>
        <script src="js/app.min.js"></script>
        <script src="js/controllers.js"></script>  
    </head>
    <body ng-app="myApp">
        <div class="container-fluid">
                <div class="jumbotron">
                    <h1>CRUD Clientes</h1>
                </div>
            <div ng-view></div>
        </div>
        
    </body>
</html>